/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;800&display=swap');

*{
  font-family: 'Poppins', sans-serif; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 800;
  padding: 0 2px 0 2px;
  background-color: pink;
  color: black;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 2px solid black;
}

.navbar-left {
  flex-grow: 1;
  border-right: #555;
}

.navbar-right {
  display: flex;
}

.navbar-right button{
text-decoration: underline;
font-size: 16px;
font-weight: 600;
color: yellowgreen;
background-color: white;
}
h1{
color: purple;
}
button {
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
}
